@import '@fontsource/montserrat/100';
@import '@fontsource/montserrat/200';
@import '@fontsource/montserrat/300';
@import '@fontsource/montserrat/400';
@import '@fontsource/montserrat/500';
@import '@fontsource/montserrat/600';
@import '@fontsource/montserrat/700';
@import '@fontsource/montserrat/800';
@import '@fontsource/montserrat/900';

:root {
	--pure-white: #ffffff;
	--bg-color: #111;
	--accent-color: #c57adc;
	--text-color: #eee;
	--app-bar-height: 3.2em;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat';
	min-height: 100vh;
	margin: 0;
	background-color: var(--bg-color);
	color: var(--text-color);
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

button {
	outline: 2px solid var(--accent-color);
	background-color: transparent;
	color: var(--accent-color);
	/* outline: none; */
	border: none;
	border-radius: 5px;
}

button:hover {
	cursor: pointer;
	outline: 2px solid transparent;
	background-color: var(--accent-color);
	color: white;
}

button:hover > * {
	cursor: pointer;
}
